body {
  padding: 50px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

a {
  color: #00B7FF;
}

h1 {
  font-family: "Lato";
  font-weight: 300;
  font-size: 50px;
}

.nav-pills {
  background-color: #428bca;
}

.nav-pills a {
  color: #fff;
}

.nav-pills>li.active>a {
  background-color: #428bca;
}

.nav-pills > li > a:hover {
  background-color: #c5b358;
}

#page-content {
  height: auto;

}

/*color button*/
.btn-default {
  background-color: #407eee;
  color: #fff;
}